.about {
  padding: 80px 0;

  &-images {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;

    img {
      width: 48%;
      max-width: 540px;
    }
  }

  &-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 60px;

    p {
      width: 48%;
      line-height: 25px;
    }
  }

  &-menu-button {
    text-align: center;
  }
}
