@import "../../assets/sass/config";

.nav-bar-menu {
  text-align: center;
  a {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    margin: 0 15px;
    text-align: center;
    @include transition-ease;

    &:hover {
      color: $primary;
    }
  }
}
