@import "../src/assets/sass/reseter";
@import "../src/assets/sass/config";
@import "../src/assets/sass/button";
@import "../src/assets/sass/responsive";
@import "../src/assets/sass/animations";

html,
body,
.root {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.section {
  padding: 80px 0;
}
